/**
 * Custom CSS rules for Admin UI only.
 *
 * @package Nice_Testimonials
 * @since   1.0
 */
.container .page-content {
  width: auto;
}

@media screen and (max-width: 799px) {
  .container .content-sidebar .content,
  .container .content-sidebar .sidebar {
    width: 100%;
    float: none;
  }
  .container .content-sidebar .content {
    min-width: 420px;
  }
}
.about-wrap {
  margin: 0;
  max-width: none;
}
.about-wrap .description p {
  font-size: 18px;
}

.nice-admin-wrapper.about .box-container {
  overflow: hidden;
}
.nice-admin-wrapper.about .box {
  width: 30%;
  margin-right: 3.3333%;
  margin-bottom: 20px;
  float: left;
}
html[dir="rtl"] .nice-admin-wrapper.about .box {
  margin-right: 0;
  margin-left: 3.3333%;
  float: right;
}
@media screen and (max-width: 1023px) {
  .nice-admin-wrapper.about .box {
    width: auto;
    margin: auto;
    float: none;
  }
}
.nice-admin-wrapper.about .box.first {
  clear: both;
}

.main-nav .nice-logo {
  display: block;
}

.header {
  background-color: #76c88d;
  min-width: 450px;
}

.masthead {
  background-color: #6eb77f;
  background-image: url("../images/bg.png");
}
.about .masthead h1 {
  font-size: 3em;
  max-width: none;
  padding: 2em 15px 5px;
}
.about .masthead h2 {
  padding: 0 15px 4.2em;
  font-weight: normal;
  color: #fff;
}

.header-nav .current,
.header-nav li a:hover {
  background-color: #6eb77f;
}

.footer {
  background-color: #489159;
}
.footer .primary {
  border-color: #376f44;
}
.footer .secondary {
  border-color: #5daf70;
}
