///**
// * Color variables.
// *
// * @package Nice_Testimonials
// * @since   1.0
// */

$white: #fff;
$white_transparent: 1px solid rgba( 255, 255, 255, 0.5 );

$color__text: $white;
$color__title_border: $white_transparent;