/**
 * Public-facing styles.
 *
 * @package Nice_Testimonials
 * @since   1.0
 */

/* ============================================================================
   Table of Contents.
   ----------------------------------------------------------------------------
   1. Widgets.
   2. Grid Styles.
   ========================================================================= */

// Including mixins and variables.
@import "sass/mixins/_mixins-master";
@import "sass/variables/_variables";

/* ============================================================================
   1. Widgets.
   ========================================================================= */
.nice-testimonials.widget.default-styles {
	list-style: none;
	padding: 0;

	.nice-testimonial {
		overflow: hidden;
		margin-bottom: 1.5em;
	}

	.nice-testimonial-thumb {
		float: left;
		margin-right: 1em;
	}

	.nice-testimonial-content {
		overflow: hidden;
		margin-bottom: 1em;
	}

	.nice-testimonial {
		.nice-testimonial-author {
			clear: both;
		}
	}
}

/* ============================================================================
   2. Grid Styles.
   ========================================================================= */
.nice-testimonials.default-styles {
	&.grid {
		overflow: hidden;
		margin-left: -3%; /* same as your gutter */
		margin-right: -0.23px;

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	&.grid-pad {
		padding: 20px 0 20px 20px;
		& > [class*='col-']:last-of-type {
			padding-right: 20px;
		}
	}

	&.grid,
	&.grid-pad {
		.nice-testimonial {
			&.first {
				clear: both;
			}

			.nice-testimonial-content {
				overflow: hidden;
				padding: 0;
				margin-bottom: 1em;
			}

			.nice-testimonial-thumb {
				float: left;
				margin-right: 1em;
			}
		}

		.nice-testimonial-thumb {
			overflow: hidden;
			position: relative;

			img {
				max-width: 100%;
			}
		}

		.nice-testimonial-title {
			h3 {
				margin: 10px 0 20px;

				a {
					text-decoration: none;
				}
			}
		}
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	.row {
		padding-bottom: 3%;
	}

	[class*='columns-'] {
		box-sizing: border-box;
		float: left;
		overflow: hidden;
		position: relative;
		padding-left: 3%;

		&:last-of-type {
			padding-right: 0;
		}
	}

	.col-2-3 {
		width: 66.66%;
	}

	.columns-1 {
		width: 100%;
	}

	.columns-2 {
		width: 50%;
	}

	.columns-3 {
		width: 33.33%;
	}

	.columns-4 {
		width: 25%;
	}

	.columns-5 {
		width: 20%;
	}

	.columns-6 {
		width: 16.66%;
	}

	.columns-7 {
		width: 14.28%;
	}

	.columns-8 {
		width: 12.5%;
	}

	.columns-9 {
		width: 11.11%;
	}

	.columns-10 {
		width: 10%;
	}

	.columns-11 {
		width: 9.09%;
	}

	.columns-12 {
		width: 8.33%;
	}

	@for $i from 2 through 12 {
		@media all and (max-width: 320px) {
			.columns-#{$i} {
				width: 100%;
			}
		}

		.columns-#{$i}:nth-child(#{$i}n+1) {
			clear: both;
		}
	}
}

/* ============================================================================
   3. Common Styles.
   ========================================================================= */
.nice-testimonials.default-styles {
	.nice-testimonial {
		blockquote {
			padding: 0;
			margin: 0;
			border: none;
		}

		cite.nice-testimonial-author {
			span {
				display: block;
				font-style: normal;

				&.author-name {
					font-weight: bold;
				}
			}
		}
	}
}
